@media screen {
    .machine-wallet{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .vending-machine {
        width: 300px;
        height: 500px;
        align-items: center;
        border: solid 3px rgb(236, 234, 222);
        border-radius: 1%;
        color: black;
        background-color: rgb(148, 200, 196);
        font-weight: 800;
    }

    .drink-list {
        width: 298px;
        display: grid;
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: repeat(2, 50px);
        gap: 15px;
        justify-content: center;
        padding : 20px 0;
        background-color: lightblue;
        border: 2px solid lightgray;
    }
    
    .my-drink-list{
        width: 300px;
        display: grid;
        grid-template-columns: repeat(1, 300px);
        overflow: hidden;
        overflow-y: scroll;
    }

    .display-insert{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 20px;
        border-radius: 10%;
        color:green ;
        background-color: black;
    }

    .insert-money{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .insert-return{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .insert-return button{
        background-color: transparent;
        border: none;
    }

    .return-button{
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin-left: 30px;
        border : 3px solid gray;
        background-color: gray;
    }

    .return-button:hover{
        background-color: red;
        cursor: pointer;
    }

    .empty-returning-container{
        width: 200px;
    }

    .returning-money{
        display: flex;
    }

    .returning-money-button{
        width: 30px;
        height: 30px;
        background-color: white;
        border: none;
        cursor: pointer;
        margin: 0 0 20px 35px;
    }

    .returning-money-button:hover{
        width: transparent;
        height: transparent;
        background-color: gray;
        border-top: 26px solid white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }

    .drink-out-container{
        /* display: flex; 
        justify-content: center; */
        width: 300px;
        height: 150px;
        margin: 70px 0 0 0;
    }

    .drink-out button {
        display: inline-block;
        margin: 0 10px;
        background-color: white;
        width: 230px;
        height: 80px;
        cursor: pointer;
        border: 0.5px solid black;
        border-radius: 5%;
    }

    .drink-out button:hover{
        margin: 0 10px;
        background-color: gray;
        width: transparent;
        height: transparent;
        border-top: 70px solid white;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    
    .drink-out img{
        width: 80%;
        height: 100%;
    }

    .bought-drinks{
        width: 100px;
        height: 20px;
        border-radius: 10%;
        color: red;
        background-color: black;
    }

    .bought-drinks li{
        list-style-type: none;
    }
}

