@media screen {
    .money-display{
        width: 300px;

    }

    .money-container {
        background-color: rgb(233, 225, 212);
        width: 100%;
        height: 20%;
        border: 1px solid rgb(236, 234, 222);
        border-radius: 1px;
        margin: 5% 0 5% 0;
    }

    .money-input{
        display: flex;
        justify-content: space-evenly;
        border: none;
        text-align: center;
        margin: 5% 0 10% 0;
    }

    .money-input button {
        width: 45px;
        height: 45px;
        background-color: transparent;
        border: none;
    }

    .money-input button img{
        width: 45px;
        height:45px;
        cursor: pointer;
    }

    .mywallet{
        padding-bottom: 50px;
    }

    .input-decoration{
        width: 40px;
        height: 8px;
        background-color: sandybrown;
    }
    .coin-input-container{
        width: 100px;
        height: 100px;
    }

    .wallet-container{
        background-color: rgb(137,51,0);
        width: 300px;
        height: 500px;
        border: 2px solid rgb(236, 234, 222);
        border-radius: 4px;
    }

    .wallet-container h1{
        text-align: center;
        color: rgb(236, 234, 222);
    }
    
    
    .mywallet{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(236, 234, 222);
        font-size: 20px;

    }
}