@media screen {
    .vending-machine-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(148,200,196);
        color: rgb(236,234,222);
    }

    .vending-machine{
        color: rgb(236,234,222);
        font-weight: 800;
    }
    
}
